<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Mental Health Catchment Areas</title>

 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
   <style>
   a {
  color: white;
}
 </style>



  </head>
  <body>
  <div class="container">
    <header class="jumbotron" style="background:transparent !important">
<h1 style= "text-align:center">Dublin Mental Health Catchment Areas Map</h1>

<h3 style= "text-align:center">Instructions:</h3>

<p style= "text-align:center">1. Enter an address into the search box to find out which colour coded sector it's in. The location of the address is shown with a red marker.</p>

<div style= "text-align:center">
<img style="width:20em; height:35em;" src="https://drive.google.com/uc?id=1ydQThcW-FyKVFH8l5Nr6kSWEzJda8Hdn">
</div>
<hr>

<p style= "text-align:center">2.Find the blue marker in the colour coded sector.</p>

<div style= "text-align:center">
<img style="width:20em; height:35em;" src="https://drive.google.com/uc?id=1IS6PU3An5xw-9q-H4Nz7qF0Gsqlahlzx">
</div>
<hr>

<p style= "text-align:center">3. The contact details for that sector are shown.</p>

<div style= "text-align:center">
<img style="width:20em; height:35em;" src="https://drive.google.com/uc?id=1x-UEcgiLF5RJgpSmNA-fIP0PcA5KIsk9">
</div>

<hr>

<div style= "text-align:center">
<button  class="btn btn-success"><a href="/pages/map">View Map</a></button>
</div>


</header>



</div>



 
   <script
  src="https://code.jquery.com/jquery-1.10.1.min.js"
  integrity="sha256-SDf34fFWX/ZnUozXXEH0AeB+Ip3hvRsjLwp6QNTEb3k="
  crossorigin="anonymous"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>






  </body>
</html>